<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
<title>Notary Verification System</title>
</head>
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="icon" type="image/png" sizes ="16x16" href="favicon.png">
<script src="js/script.js"></script>

<body>


  <div class="navigation-bar">
    <div class = "center-div">

      <a href="#">Notary Verification System</a>
    </div>
  </div>

<div class = "center-div text-style">
  <h1> Please select the state for the Notary Public </h1>
</div>


<div  class ="center-div text-style" id = "colwrap">

  <div id ="col1">
    <a href = "http://arc-sos.state.al.us/CGI/notename.mbr/input">Alabama</a>
    <br><a href = "http://aws.state.ak.us/NotaryDirectory/Commissions/Search">Alaska</a>
    <br><a href = "http://apps.azsos.gov/apps/notary/search/Default.aspx">Arizona</a>
    <br><a href = "http://bcs.sos.arkansas.gov/NotarySearch">Arkansas</a>
    <br><a href = "http://notary.net/active-notary/">Californa</a>
    <br><a href = "https://www.sos.state.co.us/notary/pages/public/verifyNotary.xhtml">Colorado</a>
    <br><a href = "#" onclick="alertUser()">Connecticut</a>
    <br><a href = "#" onclick="alertUser()">Delaware</a>
    <br><a href = "http://notaries.dos.state.fl.us/not001.html">Florida</a>
    <br><a href = "http://search.gsccca.org/notary/search.asp">Georgia</a>
    <br><a href = "https://notary.ehawaii.gov/notary/public/publicsearch.html">Hawaii</a>
    <br><a href = "http://www.sos.idaho.gov/NotarySearch/">Idaho</a>
    <br><a href = "#" onclick="alertUser()">Illinois<a>
  </div>

  <div id ="col2">
    <a href = "http://www.ai.org/serv/sos_notary">Indiana</a>
    <br><a href = "https://sos.iowa.gov/search/notary/search.aspx">Iowa</a>
    <br><a href = "#" onclick="alertUser()">Kansas</a>
    <br><a href = "http://app.sos.ky.gov/notaries/">Kentucky</a>
    <br><a href = "http://www.sos.la.gov/NotaryAndCertifications/Pages/NotaryDatabase.aspx">Louisiana</a>
    <br><a href = "https://www1.maine.gov/cgi-bin/online/notary/search/search_index.pl">Maine</a>
    <br><a href = "http://sos.maryland.gov/Notary/Pages/NotarySearch.aspx">Maryland</a>
    <br><a href = "#" onclick="alertUser()">Massachusetts</a>
    <br><a href = "https://services2.sos.state.mi.us/notarysearch/Search.aspx">Michigan</a>
    <br><a href = "#" onclick="alertUser()">Minnesota</a>
    <br><a href = "http://www.sos.ms.gov/notarysearch/notarysearch.aspx">Mississippi</a>
    <br><a href = "https://s1.sos.mo.gov/business/notary/search/notarysearch.aspx">Missouri</a>
    <br><a href = "http://www.notarysearch.mt.gov/">Montana</a>
  </div>


  <div id = "col3">
      <a href = "#" onclick="alertUser()">Nebraska</a>
      <br><a href = "http://nvsos.gov/SOSNotaryApp/AnonymousAccess/SuspendedNotaries.aspx">Nevada</a></li>
      <br><a href = "#" onclick="alertUser()">New Hampshire</a></li>
      <br><a href = "http://www.nj.gov/treasury/revenue/notary.shtml">New Jersey</a></li>
      <br><a href = "#" onclick="alertUser()">New Mexico</a></li>
      <br><a href = "https://appext20.dos.ny.gov/lcns_public/lic_name_search_frm">New York</a></li>
      <br><a href = "http://www.sosnc.gov/NotaryPublic/Search">North Carolina</a></li>
      <br><a href = "#" onclick="alertUser()">North Dakota</a></li>
      <br><a href = "https://www5.sos.state.oh.us/ords/f?p=246:1:0:::::">Ohio</a></li>
      <br><a href = "https://www.sos.ok.gov/notary/search.aspx">Oklahoma</a></li>
      <br><a href = "#" onclick="alertUser()">Oregon</a></li>
      <br><a href = "https://www.notaries.state.pa.us/Pages/NotarySearch.aspx">Pennsylvania</a></li>
  </div>

    <div id ="col4">
      <a href = "http://ucc.state.ri.us/notarysearch/onlinesearch.asp">Rhode Island</a>
      <br><a href = "http://www.scsos.com/notaries_and_apostilles/notary_search">South Carolina</a></li>
      <br><a href = "https://apps.sd.gov/st12odrs/aspx/frmNotaryViewList.aspx">South Dakota</a></li>
      <br><a href = "http://www.tn.gov/sos/bus_svc/NotarySearch.htm">Tennessee</a></li>
      <br><a href = "https://direct.sos.state.tx.us/notaries/notarysearch.a">Texas</a></li>
      <br><a href = "https://secure.utah.gov/notary/search.html">Utah</a></li>
      <br><a href = "https://www.sec.state.vt.us/archives-records/statutory-filings/notaries-public/find-a-notary.aspx">Vermont</a></li>
      <br><a href = "https://apps.sos.wv.gov/business/notary/">West Virgina</a></li>
      <br><a href = "https://www.wdfi.org/apps/notarysearch/SearchCriteria.aspx">Wisconsin</a></li>
      <br><a href = "#" onclick="alertUser()">Wyoming</a></li>
    </div>
</div>


<div id ="clearing"></div>

<div class ="center-div">
<div class = "text-style1">
  <h2> Disclaimers </h2>
  <p> Below are the states that does not provide online verification of Notary Publics <p>

    <ul>
      <li>Connecticut</li>
      <li>Delaware</li>
      <li> Kansas</li>
      <li> Illinois - the web site is not reachable </li>
      <li>Nebraska</li>
      <li> Nevada- Only provides a list of the Suspended Notaries </li>
      <li> New Hamsphire</li>
      <li> New Mexico </li>
      <li> North Dakota</li>
      <li>Massachusetts</li>
      <li>Minnesota</li>
      <li>Oregon</li>
      <li> Wyoming </li>
    </ul>
  </div>
</div>

<div id ="footer" class ="footer-text-style">
  <div class = "center-div">
    <div id= "col5">
    <p>This tool was designed to help CSR's and Supervisors to verify Notary Publics in the United States of America.</p>
    <p>Copyright 2016<p>
  </div>

    <div id ="colwrap2">
      <div id= "col6">
        <p>Social Media</p>

        <a href ="https://web.facebook.com/VictoriaMutual/?_rdr"><img class = "sizeimage" src="images/facebook.png"></a>
        <a href ="https://www.instagram.com/explore/locations/25410485/"><img class = "sizeimage" src= "images/instagram.png">
        <a href = "https://twitter.com/victoriamutual?lang=en"><img class ="sizeimage"  src ="images/twitter.png">

      </div>
    </div>
  </div>
</div>
</body>

</html>